api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

certificatesResolvers:
  myresolver:
    acme:
      httpChallenge:
        entryPoint: web
      email: kayluv09@yahoo.com
      storage: /letsencrypt/acme.json