---
- name: Deploy TODO Application
  hosts: app_servers
  become: yes
  vars:
    git_repo_url: "https://github.com/vicogwa/DevOps-Stage-6.git"
    domain_name: "vicky-hng.zapto.org"
    acme_email: "victoriafrancis885@gmail.com"
  
  roles:
    - dependencies
    - deploy
